<div th:fragment="header">
    <!--
    * Cuando la página se carga: Ejecuta el código cuando la página termina de cargar.
    * Verificar si el ID de usuario está guardado: Si no hay ID de usuario en localStorage, detiene la ejecución.
    * Solicitar datos del carrito: Hace una solicitud AJAX para obtener el carrito del usuario.
    * Mostrar notificación de bienvenida:
    * Mostrar notificación de agradecimiento de compra:
    * Verificar datos de usuario:
    * Guardar datos del usuario en localStorage:
    * Mostrar elementos de UI según el rol: Muestra u oculta elementos de la interfaz según el rol del usuario (normal o administrador).
    -->
    <script th:inline="javascript">

        window.onload = function () {

            $(document).ready(function () {

                var idUserGuardado = localStorage.getItem('idUserStorage');
                console.log("saber si esta guardada el ID usuario localstore para el carrito: " + idUserGuardado);

                if (!idUserGuardado) {
                    console.log("No se encontró el ID del usuario en localStorage.");
                    return;  // Salir si no hay ID de usuario guardado
                }

                $.ajax({
                    url: '/carrito/' + idUserGuardado,  // Pasamos el userId como parte de la URL
                    type: 'GET',  // Tipo de solicitud
                    success: function (data) {
                        console.log("Datos del carrito recibidos: ", data.productosCarrito[0].estado);

                        // Esto bloquearia el boton de proceder con el pago
                        localStorage.setItem("pedidoCarrito", "pendiente");  // Guardamos el ID del usuario en localStorage

                        if (data.productosCarrito[0].estado == "pedido") {
                            localStorage.removeItem("pedidoCarrito");
                            localStorage.setItem("pedidoCarrito", "pedido");  // Guardamos el ID del usuario en localStorage

                            // Mostrar el contenedor del carrito
                            $('#mensajeDePago').hide();
                            $('#mensajeDePago2').show();
                            $('#mensajeDePago3').show();

                            console.log("ver estado !!!!!!!!!!!!!!!!!!: ", data.estado);

                        } else {
                            $('#mensajeDePago').show();
                            $('#mensajeDePago2').hide();
                            $('#mensajeDePago3').hide();
                        }

                    },
                    error: function (xhr, status, error) {
                        console.log("Código de estado:", xhr.status);
                        console.log("Detalles del error:", xhr.responseText);  // Ver detalles de la respuesta
                    }
                });
            });


            // Si idUser y rolId están presentes en el modelo, almacenamos en sessionStorage
            var idUser = [[${ idUsuarioUnico }]];

            if (idUser) {
                var notyf = new Notyf({
                    duration: 3000,  // Establece la duración de la notificación en milisegundos (5000ms = 5 segundos)
                    position: { x: 'right', y: 'top' },  // Coloca la notificación en el centro superior de la pantalla
                    ripple: true,  // Activa un efecto de onda cuando la notificación aparece
                    //dismissible: true,  // Hace que la notificación sea cerrable                    

                });

                notyf.success('¡Bienvenido! Acceso exitoso');
            }

            var rolId = [[${ idUsuarioRol }]];
            var emailUser = [[${ emailUsuario }]];
            // recibe la senal del que el pedido de compra fue enviado
            var pedidoEnviado = [[${ pedidoEnviado }]];

            if (pedidoEnviado) {
                var notyf = new Notyf({
                    duration: 5000,  // Establece la duración de la notificación en milisegundos (5000ms = 5 segundos)
                    position: { x: 'right', y: 'top' },  // Coloca la notificación en el centro superior de la pantalla
                    ripple: true,  // Activa un efecto de onda cuando la notificación aparece
                    //dismissible: true,  // Hace que la notificación sea cerrable
                    backgroundColor: '#4caf50' // Color de fondo (opcional, ajustable)

                });

                notyf.success('¡Gracias! su pedido será atendido ahora mismo');
            }
            //
            console.log("verifica si los datos carga en el paso 1: " + idUser + " ");
            //
            var idUser2 = localStorage.getItem('idUserStorage');
            console.log("verifica si los datos carga en el paso 222222222: " + idUser2 + " ");

            // Solo almacenamos si los valores no son nulos o indefinidos
            if (idUser && rolId) {
                localStorage.setItem('idUserStorage', idUser);  // Guardamos el ID del usuario en localStorage
                localStorage.setItem('rolIdStorage', rolId);    // Guardamos el ID del rol en localStorage
                localStorage.setItem('rolName', emailUser);  // Guardamos el nombre del rol en localStorage
                // Puedes hacer algo con la notificación o redirigir al usuario
                //var notyf = new Notyf();
                //notyf.success('¡Bienvenido ' + emailUser + '!');

            }

            var idUserGuardado = localStorage.getItem('idUserStorage');
            var rolIdStorage = localStorage.getItem('rolIdStorage');
            console.log("saber si esta guardada el ID usuario localstore: " + idUserGuardado);
            // Si idUser es mayor a 0, mostrar los elementos de configuración y cerrar sesión
            if (idUserGuardado && parseInt(idUserGuardado) > 0 && rolIdStorage == 1) {
                document.getElementById('configItem').style.display = 'block';
                document.getElementById('logoutItem').style.display = 'block';
                document.getElementById('sessionItem').style.display = 'none';
            }

            if (idUserGuardado && parseInt(idUserGuardado) > 0 && rolIdStorage == 2) {
                document.getElementById('configItem').style.display = 'block';
                document.getElementById('confiAdmin').style.display = 'block';
                document.getElementById('logoutItem').style.display = 'block';
                document.getElementById('sessionItem').style.display = 'none';
            }

        };

    </script>

     <!-- Procesa item de lista de cierre session -->
     <script>

        function closeSession() {
            localStorage.clear();

            document.getElementById('configItem').style.display = 'none';
            document.getElementById('logoutItem').style.display = 'none';
            document.getElementById('sessionItem').style.display = 'block';

            // Redirigir a la página de login
            window.location.href = '/';
        }
    </script>

    <style>
        .custom-hover:hover {
            background-color: #28a745; /* Color verde */
            color: blue;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
    </style>

    <style>
    /* Cabecera del carrito */
    .cart-header {
        position: relative;
        background-color: #f8f9fa;
        padding: 8px;
        border-radius: 8px 8px 0 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: -20px; /* Para moverlo más arriba */
    }

    /* Estilo de los items del carrito */
    .cart-item {
        margin-bottom: 15px;
    }

    .cart-item .card {
        border-radius: 8px;
        border: none;
        padding: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: transform 0.2s ease-in-out;
        margin: 0; /* Eliminar márgenes extra */
        line-height: 1; /* Sin interlineado */
    }

    .cart-item .card:hover {
        transform: translateY(-5px);
    }

    /* Contenedor para la imagen y la cantidad */
    .cart-item .product-container {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        position: relative;
        width: 80px;
        height: 80px;
        margin-right: 15px; /* Espacio entre imagen y texto */
    }

    .cart-item .product-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    /* Círculo para la cantidad */
    .cart-item .quantity-circle {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 30px;
        height: 30px;
        background-color: #28a745;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.875rem;
    }

    /* Estilo del nombre del producto */
    .cart-item h5 {
        font-size: 1rem;
        font-weight: 700; /* Nombre en negrita */
        margin-bottom: 5px;
    }

    /* El precio total debajo de la cantidad */
    .cart-item p.price-total {
        font-size: 0.875rem;
        margin-top: 5px;
    }

    .cart-item p {
        font-size: 0.875rem;
        margin-bottom: 4px;
    }

    .cart-item .badge {
        font-size: 0.875rem;
        padding: 6px 12px;
        border-radius: 12px;
        margin-top: 5px;
        font-weight: 600;
    }

    /* Total del carrito */
    #total-carrito {
        font-size: 1.2rem;
        font-weight: 600;
        color: #28a745;
    }

    /* Botones de acción */
    .btn-primary {
        background-color: #007bff;
        border: none;
        font-size: 1rem;
        font-weight: 600;
    }

    /* Botón de cierre */
    .btn-close {
        font-size: 1.2rem;
        cursor: pointer;
    }

    /* Animaciones de transición para la aparición y desaparición */
    .fade {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .show {
        opacity: 1;



    }

    /* Estilos para el texto informativo */
    .info-text {
                font-size: 12px;
                color: #777;
                margin-top: 10px;
            }


    </style>

    <!-- iconos svg del documento -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <defs>
            <symbol xmlns="http://www.w3.org/2000/svg" id="close2" viewBox="0 0 1024 1024">
                <path fill="currentColor" d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="link" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12 19a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-right" viewBox="0 0 24 24">
                <path fill="currentColor" d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="category" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
                <path fill="currentColor" d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 24 24">
                <path fill="currentColor" d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19ZM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74a3.007 3.007 0 0 0-2.82-2H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2Zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7ZM16.5 19a1.5 1.5 0 1 0 1.5 1.5a1.5 1.5 0 0 0-1.5-1.5Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="check" viewBox="0 0 24 24">
                <path fill="currentColor" d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46l-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="trash" viewBox="0 0 24 24">
                <path fill="currentColor" d="M10 18a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1ZM20 6h-4V5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2ZM10 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1h-4Zm7 14a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8h10Zm-3-1a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="star-outline" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="star-solid" viewBox="0 0 15 15">
                <path fill="currentColor" d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="search" viewBox="0 0 24 24">
                <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 24 24">
                <path fill="currentColor" d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 15 15">
                <path fill="currentColor" d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z"/>
            </symbol>
        </defs>
    </svg>

    <!-- animacion de cargando pagina -->
    <div class="preloader-wrapper">
        <div class="preloader">
        </div>
    </div>

    <a href="https://wa.me/5930982864870" target="_blank" class="position-fixed" style="bottom: 20px; right: 20px; width: 50px; height: 50px; z-index: 1000;">
        <img th:src="@{/img/whasap.png}" alt="WhatsApp" style="width: 100%; height: 100%; border-radius: 50%;">
    </a>

    <!-- Agregar estilo CSS -->
<style>
    .whatsapp-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: transform 0.3s ease;
    }

    /* Efecto al pasar el mouse */
    .whatsapp-icon:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    /* Asegura que el icono de WhatsApp se vea bien en dispositivos móviles */
    @media (max-width: 767px) {
        .whatsapp-icon {
            width: 40px;
            height: 40px;
        }
    }

    /* Para pantallas de tablets o dispositivos más grandes */
    @media (max-width: 1024px) and (min-width: 768px) {
        .whatsapp-icon {
            width: 45px;
            height: 45px;
        }
    }
</style>

    <!-- Cabecera principal -->
    <header class="fixed-top" style="background-color: white;">
        <!-- Inicio -->
        <div class="container-fluid">
            <div class="row py-3 border-bottom">
                <!-- Logo o marca principal -->
                <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                    <div class="main-logo">
                        <a th:href="@{/}">
                            <img th:src="@{/img/logoPrincipal.png}" alt="logo" class="img-fluid w-25">
                        </a>
                    </div>
                </div>
                <!--Buscador -->
                <!-- Buscador -->
                <div class="col-12 col-sm-6 col-md-8 col-lg-5">
                    <div class="search-bar row bg-light p-2 my-2 rounded-4">
                        <div class="col-10 col-md-10">
                            <!-- Formulario de búsqueda -->
                            <form id="search-form" class="text-center" method="get" th:action="@{/buscarProductos}">
                                <input type="text" name="query" class="form-control border-0 bg-transparent" placeholder="Buscar producto" />
                            </form>
                        </div>
                
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <!-- SVG de la lupa con un ID para capturar el clic -->
                            <svg style="cursor: pointer;" id="search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <script>
                    // Agregar un evento de clic en el icono de la lupa
                    document.getElementById("search-icon").addEventListener("click", function() {
                        document.getElementById("search-form").submit(); // Al hacer clic en la lupa, el formulario se envía
                    });

                    // También puedes habilitar que el formulario se envíe cuando el usuario presiona "Enter" en el campo de búsqueda
                    document.querySelector("input[name='query']").addEventListener("keypress", function(event) {
                        if (event.key === "Enter") {
                            document.getElementById("search-form").submit();
                        }
                    });
                </script>
                <!-- Contactos principales, acceso, carro compras -->
                <div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
                <!-- <div class="support-box text-end d-none d-xl-block">
                        <span class="fs-6 text-muted">Requiere Asistencia?</span>
                        <h6 class="mb-0" style="white-space: nowrap;">+593 098 286 4870</h6>
                    </div>-->
                    <!-- Iconos para dispositvos grandes -->
                    <div class="cart text-end d-flex d-lg-flex dropdown">
                        <!-- Iconos sesión usuario -->
                        <button class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <a href="#" class="rounded-circle bg-light p-2 mx-1 custom-hover">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#user"></use>
                                </svg>
                            </a>
                        </button>
                        <!-- Dropdown de sesión -->
                        <ul class="dropdown-menu" aria-labelledby="userMenuButton">
                            <!-- Item de Iniciar sesión -->
                            <li id="sessionItem" style="display: block;"><a class="dropdown-item" href="/usuarioInicio">Iniciar sesión</a></li>

                            <!-- Items que se mostrarán solo si el idUser en localStorage es mayor que 0 -->
                            <li id="configItem" style="display: none;"><a class="dropdown-item"  onclick="editarUsuario()" style="cursor: pointer;">Mi informacion</a></li>
                            <li id="confiAdmin" style="display: none;"><a class="dropdown-item" target="_blank" onclick="administracion()" style="cursor: pointer;">Administracion</a></li>
                            <li id="logoutItem" style="display: none;"><a class="dropdown-item" onclick="closeSession()" style="cursor: pointer;">Cerrar sesión</a></li>
                        </ul>
                        <!-- Iconos carro compra -->
                        <button  id="check-login-status" class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button" aria-controls="offcanvasCart">
                            <a href="#" class="rounded-circle bg-light p-2 mx-1 custom-hover" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Abre Menu lateral derecho carrito en calquier dispositivo-->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
        <!-- Contenido del encabezado -->
        <div class="offcanvas-header justify-content-center">
            <!-- Cierra carro compras-->
            <button class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button" aria-controls="offcanvasCart">
                <a href="/usuarioInicio" target="_blank" class="ms-auto" data-bs-dismiss="offcanvas" aria-label="Close">
                    <svg width="24" height="24" viewBox="0 0 1024 1024"><use xlink:href="#close2"></use></svg>
                </a>
            </button>
        </div>
        <!-- Contenido debajo del encabezado -->
        <div class="offcanvas-body justify-content-center">
            <!-- Si el usuario no está logueado -->
            <div id="not-logged-in" style="display: none;">
                <h1>Debe iniciar sesión primero</h1>
            </div>

            <!-- Si el usuario está logueado -->
            <div id="logged-in" style="display: none;">
                <!-- Cabecera del Carrito -->
                <div class="cart-header text-center mb-3">
                    <h2 class="fs-5">🛒 Tu Carrito de Compras</h2>            
                </div>
            
                <!-- Lista de productos -->
                <ul class="list-unstyled" id="carrito-items">
                    <!-- Los productos se añadirán dinámicamente aquí -->
                </ul>
            
                <!-- Resumen Total -->
                <div class="mt-3">
                    <h5 class="fw-bold">💰 Total: <span id="total-carrito">$0.00</span></h5>

                    <button class="btn btn-primary w-100 py-2 mt-2" onclick="redirectToPago()">
                        <span id="mensajeDePago" style="display: block;" >Proceder al Pedido 🛍️</span>
                        <span id="mensajeDePago2" style="display: none;" >Compra en Espera 🛍️</span>
                    </button>

                    <!-- Información adicional -->
                    <div id="mensajeDePago3" class="info-text" style="display: none;">
                        <p><strong>En proceso. Gracias por su espera!</strong></p>
                        <ul>
                            <li>Estamos tratando de comunicarnos directamente con usted por sus medios de contactos.</li>                                            
                            <li>Actualmente, los pagos se realizan por depósito o transferencia bancaria.</li>
                            <li>La logística de los pedidos se maneja por interno.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    
    <script th:inline="javascript">

        function redirectToPago() {
            // Obtener el ID desde localStorage
            var userId = localStorage.getItem('idUserStorage');  // Suponiendo que 'userId' es la clave
            var pedido = localStorage.getItem('pedidoCarrito');  // Suponiendo que 'userId' es la clave
            //var pedido = [[${ estado }]];
            

            console.log("ver estado de compra: !!!! "  + pedido);

            // Verificar si se encontró el ID
            if (userId && pedido == "pendiente") {
                // Redirigir a la ruta '/pagos' con el parámetro id
                
                window.location.href = '/pagos?userId=' + userId;
                

                document.getElementById("mensajeDePago").style.display = "block"; // Ocultar "Proceder al Pedido"
                document.getElementById("mensajeDePago2").style.display = "none"; // Mostrar "Compra en Espera"
                document.getElementById("mensajeDePago3").style.display = "none"; // Mostrar el mensaje de espera
            } else {
                // Si no se encuentra el ID, tal vez redirigir a otra página o mostrar un mensaje
                // Cambiar visibilidad de los mensajes
                document.getElementById("mensajeDePago").style.display = "none"; // Ocultar "Proceder al Pedido"
                document.getElementById("mensajeDePago2").style.display = "block"; // Mostrar "Compra en Espera"
                document.getElementById("mensajeDePago3").style.display = "block"; // Mostrar el mensaje de espera
            }
        }


        function editarUsuario() {
            // Obtener el ID desde localStorage
            var userId = localStorage.getItem('idUserStorage');  // Suponiendo que 'userId' es la clave

            // Verificar si se encontró el ID
            if (userId) {
                // Redirigir a la ruta '/pagos' con el parámetro id
                //window.location.href = '/actualizarInfo?userId=' + userId;
                window.open('/actualizarInfo?userId=' + userId, '_blank');
            } else {
                // Si no se encuentra el ID, tal vez redirigir a otra página o mostrar un mensaje
                console.log("No se encontró el ID del usuario en el almacenamiento.");
            }
        }

        function administracion() {
            // Obtener el ID desde localStorage
            var userId = localStorage.getItem('idUserStorage');  // Suponiendo que 'userId' es la clave

            // Verificar si se encontró el ID
            if (userId) {
                // Redirigir a la ruta '/pagos' con el parámetro id
                //window.location.href = '/actualizarInfo?userId=' + userId;
                //window.location.href = '/admin';
                window.open('/admin', '_blank');
            } else {
                // Si no se encuentra el ID, tal vez redirigir a otra página o mostrar un mensaje
                console.log("No se encontró el ID del usuario en el almacenamiento.");
            }
        }
    </script>


    <!-- Buscador a medida de mobiles -->
    <!--- <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasSearch" aria-labelledby="Search">
        <div class="offcanvas-header justify-content-center">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Buscar</span>
                </h4>
                <form role="search" action="index.html" method="get" class="d-flex mt-3 gap-0">
                    <input class="form-control rounded-start rounded-0 bg-light" type="email" placeholder="What are you looking for?" aria-label="What are you looking for?">
                    <button class="btn btn-dark rounded-end rounded-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div> -->

<br/>
<br/>

    <!-- Categorias principales-->
    <div class="container-fluid" >
        <div class="row py-3">
            <div class="d-flex  justify-content-center justify-content-sm-between align-items-center">
                <nav class="main-menu mt-4 d-flex navbar navbar-expand-lg">
                    <!-- Boton mostrar de Categirias en celulares-->


                    <button  class="navbar-toggler" style="margin-top:115px" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                        <div class="offcanvas-header justify-content-center">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">

                            <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0" style="font-size: 18px" >

                                <!--<li class="nav-item active">
                                    <a href="#women" class="nav-link">Women</a>

                                </li>-->
                                <!-- Categorias principales -->
                                <li class="nav-item card shadow-sm border-0">
                                    <a href="/" class="nav-link card-text"
                                    th:style="'background-color: ' + (${isActive} ? 'rgba(255, 224, 204, 0.7)' : '')">
                                        Inicio
                                    </a>
                                </li>

                                <!-- Mostrando categoiras mediante db-->

                                <!--<li th:each="categoria : ${categorias.entrySet()}" class="nav-item card shadow-sm border-0">
                                    <a th:href="${categoria.value}" th:text="${categoria.key}" class="nav-link card-text"></a>
                                </li>-->
                                <li class="nav-item card shadow-sm border-0">
                                    <a href="mujeres?categoria=Mujeres" text="Mujeres" class="nav-link card-text"
                                        th:style="'background-color: ' + (${isActiveMujeres} ? 'rgba(255, 224, 204, 0.7)' : '')">
                                        Mujeres
                                    </a>
                                </li>

                                <li class="nav-item card shadow-sm border-0">
                                    <a href="hombres?categoria=Hombres" text="Hombres" class="nav-link card-text"
                                    th:style="'background-color: ' + (${isActiveHombres} ? 'rgba(255, 224, 204, 0.7)' : '')">
                                        Hombres
                                    </a>
                                </li>

                                <li class="nav-item card shadow-sm border-0">
                                    <a href="ninas?categoria=Ninas" text="Niñas" class="nav-link card-text"
                                    th:style="'background-color: ' + (${isActiveNinas} ? 'rgba(255, 224, 204, 0.7)' : '')">
                                        Niñas
                                    </a>
                                </li>

                                <li class="nav-item card shadow-sm border-0">
                                    <a href="ninos?categoria=Ninos" text="Niños" class="nav-link card-text"
                                    th:style="'background-color: ' + (${isActiveNinos} ? 'rgba(255, 224, 204, 0.7)' : '')">
                                        Niños
                                    </a>
                                </li>

                                <li class="nav-item card shadow-sm border-0">
                                    <a href="accesorios?categoria=Accesorios" text="Accesorios" class="nav-link card-text"
                                    th:style="'background-color: ' + (${isActiveAccesorios} ? 'rgba(255, 224, 204, 0.7)' : '')">
                                        Accesorios
                                    </a>
                                </li>

                                <li class="nav-item card shadow-sm border-0">
                                    <a href="cosmeticosyBelleza?categoria=CosmeticosyBelleza" text="cosmeticosyBelleza" class="nav-link card-text"
                                    th:style="'background-color: ' + (${isActivecosmeticosyBelleza} ? 'rgba(255, 224, 204, 0.7)' : '')">
                                        Còsmeticos y Belleza
                                    </a>
                                </li>

                                <!-- menu desplegable de categorias -->
                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" role="button" id="pages" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu" aria-labelledby="pages">
                                        <li><a href="index.html" class="dropdown-item">About Us </a></li>
                                        <li><a href="index.html" class="dropdown-item">Shop </a></li>
                                        <li><a href="index.html" class="dropdown-item">Single Product </a></li>
                                        <li><a href="index.html" class="dropdown-item">Cart </a></li>
                                        <li><a href="index.html" class="dropdown-item">Checkout </a></li>
                                        <li><a href="index.html" class="dropdown-item">Blog </a></li>
                                        <li><a href="index.html" class="dropdown-item">Single Post </a></li>
                                        <li><a href="index.html" class="dropdown-item">Styles </a></li>
                                        <li><a href="index.html" class="dropdown-item">Contact </a></li>
                                        <li><a href="index.html" class="dropdown-item">Thank You </a></li>
                                        <li><a href="index.html" class="dropdown-item">My Account </a></li>
                                        <li><a href="index.html" class="dropdown-item">404 Error </a></li>
                                    </ul>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>




    <!-- Proceso de mostrar carro compra -->
    <script>
        $(document).ready(function () {
            // Event listener para el botón
            $("#check-login-status").click(function () {

                // Verificar si el usuario está logueado
                var idUserGuardado = localStorage.getItem('idUserStorage');
                console.log("saber si esta guardada el ID usuario localstore para el carrito: " + idUserGuardado);

                if (idUserGuardado && parseInt(idUserGuardado) > 0) {
                    // Hacer la solicitud AJAX utilizando jQuery

                    $.ajax({
                        url: '/carrito/' + idUserGuardado,  // Pasamos el userId como parte de la URL
                        type: 'GET',  // Tipo de solicitud
                        success: function (data) {
                            console.log("Datos del carrito recibidos: ", data.productosCarrito[0].estado);

                            // Mostrar el contenedor del carrito
                            $('#logged-in').show();
                            $('#not-logged-in').hide();

                            console.log("ver estado !!!!!!!!!!!!!!!!!!: ", data.estado);

                            // Verificar si los datos tienen los productos
                            if (data && data.productosCarrito) {
                                // Limpiar los productos previos en el carrito
                                var carritoItemsContainer = $('#carrito-items');
                                carritoItemsContainer.empty();

                                var total = 0;

                                // Agregar cada producto al carrito
                                $.each(data.productosCarrito, function (index, item) {
                                    var subtotal = item.precio * item.cantidad;
                                    total += subtotal;

                                    console.log("ruta imagen: " + item.estado);


                                    // Para agregar los productos al carrito de compras
                                    var li = $('<li>').addClass('cart-item');
                                    li.html(`
                                        <div class="card">
                                            <div class="d-flex">
                                                <!-- Contenedor de la imagen y cantidad -->
                                                <div class="product-container">
                                                    <img src="${item.imagen}" alt="${item.nombre}">
                                                    <div class="quantity-circle">${item.cantidad}</div>
                                                </div>
                                                
                                                <div>
                                                    <h5>${item.nombre}</h5>
                                                    <p class="mb-1">${item.descripcion}</p>
                                                    <p class="mb-1">Precio: $${item.precio}</p>
                                                    <p class="price-total">💲 Total: $${(item.precio * item.cantidad).toFixed(2)}</p>
                                                    

                                                    <button class="btn btn-danger delete-btn ms-auto d-flex align-items-center btn-sm p-1" data-id="${item.id}" style="font-size: 0.8rem;">
                                                        <span class="fs-6 me-2">❌</span> Eliminar
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    `);
                                    carritoItemsContainer.append(li);
                                });

                                // Actualizar el total del carrito
                                $('#total-carrito').text('$' + total.toFixed(2));

                            } else {
                                // Si no hay productos en el carrito
                                console.error('No se encontraron productos en el carrito', data);
                                alert('Tu carrito está vacío');
                                $('#logged-in').hide();
                                $('#not-logged-in').show();
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("Código de estado:", xhr.status);
                            console.log("Detalles del error:", xhr.responseText);  // Ver detalles de la respuesta
                        }
                    });
                } else {
                    // Si el usuario no está logueado
                    $('#logged-in').hide();
                    $('#not-logged-in').show();
                }
            });
        });
    </script>

    <script>
        // Eliminar registro AJAX
                $(document).on('click', '.delete-btn', function (event) {
                    event.preventDefault(); // Prevenir la acción predeterminada

                    var carroId = $(this).data('id'); // Obtener el ID del carro
                       console.log("Carro IIIIIIIIIIIIIIIIIIIIIIIID:", carroId);  // Verificar que el ID sea correcto

                    if (confirm('¿Estás seguro de que quieres eliminar este producto?')) {
                        $.ajax({
                            url: '/api/carrito/eliminar/' + carroId,  // URL para la eliminación
                            type: 'DELETE',  // Tipo de solicitud HTTP
                            success: function (response, textStatus, jqXHR) {
                                // Verificar si la respuesta tiene el código 200
                                if (jqXHR.status === 200) {

                                    // Log de depuración: Ver la respuesta completa del servidor
                                    console.log("Respuesta del servidor:", response);

                                    // Mostrar el mensaje de éxito
                                    $('button[data-id="' + carroId + '"]').closest('.cart-item').remove();
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // Si ocurre un error, muestra un mensaje de error
                            }
                        });
                    }
                });

    </script>


</div>

